/*
!/.gitignore
!/.github/
!/.github/workflows/
!/.github/workflows/call-deploy-book.yml
!/PhD-Course/
!/PhD-Course/**
PhD-Course/book/_build/
PhD-Course/book/_ext/__pycache__/
PhD-Course/**/*.pyc
.DS_Store
PhD-Course/**/*.pdf
PhD-Course/.github/
paper_tmp.txt
