{% extends "!layout.html" %}

{% block extrahead %}
  {{ super() }}
  <meta name="robots" content="noindex">
  <style>
    details.solution-block {
      margin: 0 0 1.2em 0;
    }

    details.solution-block > summary {
      cursor: pointer;
      list-style: none;
      margin: 0;
      padding: 0.25rem 0;
      font-weight: 600;
    }

    details.solution-block > summary::-webkit-details-marker {
      display: none;
    }

    details.solution-block > summary::marker {
      content: "";
    }

    details.solution-block[open] > summary {
      margin-bottom: 0.4rem;
    }

    .bd-content .bd-article img,
    .bd-content .bd-article .note-image {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .bd-content .bd-article mjx-container[jax="CHTML"][display="true"] {
      max-width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 0.15rem;
    }

    .bd-content .bd-article mjx-container[jax="CHTML"][display="true"] > mjx-math {
      min-width: 0 !important;
    }
  </style>
{% endblock %}
